
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
  <title>{% block Title %}Home{% endblock %}</title>

  <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% block MetaBase %}
  {% endblock %}

  <link rel="shortcut icon" href="{{ asset("font/images/favicon.ico")}}" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{{ asset("font/fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700")}}">
  <link rel="stylesheet" href="{{ asset("font/css/bootstrap.css")}}">
  <link rel="stylesheet" href="{{ asset("font/css/fonts.css")}}">
  <link rel="stylesheet" href="{{ asset("font/css/style.css")}}">
  <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  {% block StyleBase %}
  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{{ asset("font/images/ie8-panel/warning_bar_0000_us.jpg") }}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
<div class="preloader" id="loading">
  <div class="preloader-body">
    <div id="loading-center-object">
      <div class="object" id="object_four"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_one"></div>
    </div>
  </div>
</div>
<div class="page">
  <!-- Page Header-->
  <header class="section page-header page-header-1">
    {% block NavigationHorizontal %}
      <!-- RD Navbar-->
      <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="10px" data-xl-stick-up-offset="10px" data-xxl-stick-up-offset="10px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
          <div class="rd-navbar-main">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
              <!-- RD Navbar Toggle-->
              <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
              <!-- RD Navbar Brand-->
              <div class="rd-navbar-brand"> <a class="brand" href="index.html.twig"><img class="brand-logo-dark" src="{{ asset("font/images/logo-111x33.png") }}" alt="" width="111" srcset="{{ asset("font/images/logo-222x66.png") }}" ./></a></div>
            </div>
            <div class="rd-navbar-nav-wrap">
              <!-- RD Navbar Nav-->
              <ul class="rd-navbar-nav">
                <li class="rd-nav-item"><a class="rd-nav-link" href="{{path("fos_user_security_login",{"_locale":app.request.getLocale()})}}">{{ 'indexPage.headerHorizontal.firstLinkModeDisconnect'|trans }}</a>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="#">{{ 'indexPage.headerHorizontal.traductionLang'|trans }}</a>
                  <!-- RD Navbar Megamenu-->
                  <div class="rd-menu rd-navbar-megamenu">
                    <ul class="rd-navbar-megamenu-inner" style="width:150px;margin:auto;">
                      <li class="rd-megamenu-item">
                        <ul class="rd-megamenu-list">
                          <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link {% if (app.request.getLocale()) =='fr' %} rd-nav-link {% endif %}" href="{{ path(app.request.get('_route'),app.request.get('_route_params')|merge({'_locale':'fr'}) )}}"><img
                                      src="{{ asset("font/images/drapeau/fr.png") }}" alt="">&nbsp;&nbsp;&nbsp;{{'traduction.lang1'|trans}}</a></li>
                          <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link {% if (app.request.getLocale()) =='en' %} rd-nav-link {% endif %}" href="{{ path(app.request.get('_route'),app.request.get('_route_params')|merge({'_locale':'en'}))}}"><img
                                      src="{{ asset("font/images/drapeau/en.png") }}" alt="">&nbsp;&nbsp;&nbsp;{{'traduction.lang2'|trans}}</a></li>
                          <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link {% if (app.request.getLocale()) =='ar' %} rd-nav-link {% endif %}" href="{{ path(app.request.get('_route'),app.request.get('_route_params')|merge({'_locale':'ar'}))}}"><img
                                      src="{{ asset("font/images/drapeau/ar.png") }}" alt="">&nbsp;&nbsp;&nbsp;{{'traduction.lang3'|trans}}</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            {% block NavigationVertical %}

            {% endblock %}
          </div>
          <div class="rd-navbar-aside" id="rd-navbar-aside">
            <div class="rd-navbar-aside-header">
              <p class="rd-navbar-aside-title">Navigation</p>
              <button class="rd-navbar-aside-close-toggle linearicons-cross2" data-multitoggle="#rd-navbar-aside" data-scope=".rd-navbar" aria-label="Sidebar toggle"></button>
            </div>
            <div class="rd-navbar-aside-main">
              <div class="rd-navbar-aside-group navbar" data-navbar="{&quot;stuck&quot;: false, &quot;anchor&quot;: {&quot;offsetRef&quot;: &quot;.rd-navbar-main&quot;}}">
                <div class="navbar-inner"><a class="rd-navbar-aside-link" href="about-us.html">About Us</a><a class="rd-navbar-aside-link" href="faq.html">FAQ</a><a class="rd-navbar-aside-link" href="testimonials.html">Testimonials</a><a class="rd-navbar-aside-link" href="our-team.html">Our Team</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    {% endblock %}

    {% block Body %}
      <section class="section section-lg bg-accent oh">
        <div class="container">
          <div class="row row-50 justify-content-center align-items-center align-items-lg-stretch flex-md-row-reverse">
            <div class="col-sm-5 col-md-5 col-lg-6 wow fadeInLeftSmall">
              <div class="phone-frame-2 text-right"><img class="phone-frame-2-outer" src="{{ asset("font/images/frame-1-533x868.png") }}" alt="" width="533" height="868"./>
              </div>
            </div>
            <div class="col-md-7 col-lg-6 wow fadeInRightSmall">
              <h3>Download the app</h3>
              <!-- Bootstrap tabs-->
              <div class="tabs-custom tabs-horizontal tabs-line tabs-line_1 block-8" id="tabs-1">
                <!-- Nav tabs-->
                <ul class="nav nav-tabss">
                  <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab"><span>Details</span></a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab"><span>How it Works</span></a></li>
                </ul>
                <!-- Tab panes-->
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-1-1">
                    <p>Download our app and enjoy the best service from ETAXI. All you have to do to begin using it is to enter your name and mobile phone number. You’ll access:</p>
                    <ul class="list-marked list-marked_secondary">
                      <li>Special offers</li>
                      <li>ETAXI loyalty program</li>
                      <li>More pricing plans</li>
                    </ul>
                  </div>
                  <div class="tab-pane fade" id="tabs-1-2">
                    <p>ETAXI App allows you to book a taxi without having to call our dispatcher as well as set your route in advance or pick a driver, a preferred car, and more:</p>
                    <ul class="list-marked list-marked_secondary">
                      <li>Manage your taxi spendings;</li>
                      <li>Pay for taxi without a credit card;</li>
                      <li>Great discounts for regular clients.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="group"><a href="#"><img src="{{ asset("font/images/button-1-170x53.png") }}" alt="" width="170" height="53"./></a><a href="#"><img src="{{ asset("font/images/button-2-170x53.png") }}" alt="" width="170" height="53"./></a></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Testimonials-->
      <section class="section section-lg bg-gray-100 text-center">
        <div class="container">
          <h3>Testimonials</h3>
          <!-- Isotope-->
          <div class="isotope-outer">
            <div class="row row-30 row-xl-40 isotope" data-isotope-layout="masonry">
              <div class="col-md-6 col-lg-4 isotope-item wow fadeInUpSmall">
                <!-- Quote Modern-->
                <blockquote class="quote-modern">
                  <div class="quote-modern-header">
                    <div class="quote-modern-info"><img class="quote-modern-avatar" src="{{ asset("font/images/testimonials-1-74x74.jpg") }}" alt="" width="74" height="74"./>
                      <div class="quote-modern-info-main">
                        <cite class="quote-modern-cite">Jane Williams</cite>
                        <p class="quote-modern-position">Regular Client</p>
                      </div>
                    </div>
                  </div>
                  <div class="quote-modern-main">
                    <div class="quote-modern-text">
                      <p>I found your service to be a 5-star experience. The driver was waiting at the arrivals hall for us. All the people we communicated with were pleasant and cheerful.</p>
                    </div>
                    <div class="quote-modern-meta"><a class="quote-modern-link icon mdi mdi-facebook" href="#"></a>
                      <time class="quote-modern-time" datetime="2018">Mar 24, 2018</time>
                    </div>
                  </div>
                </blockquote>
              </div>
              <div class="col-md-6 col-lg-4 isotope-item wow fadeInUpSmall" data-wow-delay=".1s">
                <!-- Quote Modern-->
                <blockquote class="quote-modern">
                  <div class="quote-modern-header">
                    <div class="quote-modern-info"><img class="quote-modern-avatar" src="{{ asset("font/images/testimonials-2-74x74.jpg") }}" alt="" width="74" height="74"./>
                      <div class="quote-modern-info-main">
                        <cite class="quote-modern-cite">John Doe</cite>
                        <p class="quote-modern-position">Regular Client</p>
                      </div>
                    </div>
                  </div>
                  <div class="quote-modern-main">
                    <div class="quote-modern-text">
                      <p>Everything went perfectly! Incredibly punctual, friendly drivers, and the best service!</p>
                    </div>
                    <div class="quote-modern-meta"><a class="quote-modern-link icon mdi mdi-facebook" href="#"></a>
                      <time class="quote-modern-time" datetime="2018">Mar 24, 2018</time>
                    </div>
                  </div>
                </blockquote>
              </div>
              <div class="col-md-6 col-lg-4 isotope-item wow fadeInUpSmall" data-wow-delay=".3s">
                <!-- Quote Modern-->
                <blockquote class="quote-modern">
                  <div class="quote-modern-header">
                    <div class="quote-modern-info"><img class="quote-modern-avatar" src="{{ asset("font/images/testimonials-3-74x74.jpg") }}" alt="" width="74" height="74"./>
                      <div class="quote-modern-info-main">
                        <cite class="quote-modern-cite">Kate Peterson</cite>
                        <p class="quote-modern-position">Regular Client</p>
                      </div>
                    </div>
                  </div>
                  <div class="quote-modern-main">
                    <div class="quote-modern-text">
                      <p>The service was excellent, thank you. My driver was waiting at Arrivals for me with a clear sign. He introduced himself, was very polite and friendly.</p>
                    </div>
                    <div class="quote-modern-meta"><a class="quote-modern-link icon mdi mdi-facebook" href="#"></a>
                      <time class="quote-modern-time" datetime="2018">Mar 24, 2018</time>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- CTA-->

    {% endblock %}

    <!-- Page Footer-->
    {% block Footer %}
      <footer class="section footer-classic">
        <div class="footer-classic-main">
          <div class="container">
            <div class="row row-50 justify-content-lg-between">
              <div class="col-sm-7 col-lg-3 col-xl-2"><a class="brand" href="index.html.twig"><img class="brand-logo-dark" src="{{ asset("font/images/logo-111x33.png") }}" alt="" width="111" height="33" srcset="{{ asset("font/images/logo-222x66.png") }} 2x" ./></a>
                <p><span style="max-width: 250px;">We provide the best taxi services for you all over the USA.</span></p><a class="button button-sm button-default-outline button-winona" href="{{path("loginpage")}}">Order Now</a>
              </div>
              <div class="col-sm-5 col-lg-3 col-xl-2">
                <h5 class="footer-classic-title">About</h5>
                <ul class="list footer-classic-list">
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="careers.html">Careers</a></li>
                  <li><a href="#">Press and media</a></li>
                </ul>
              </div>
              <div class="col-sm-7 col-lg-5 col-xl-3">
                <h5 class="footer-classic-title">Quick Links</h5>
                <ul class="list footer-classic-list footer-classic-list_2-cols">
                  <li><a href="{{path("loginpage")}}g">Sign Up</a></li>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="privacy-policy.html">Privacy policy</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="pricing.html">Pricing</a></li>
                  <li><a href="faq.html">Online Help</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                </ul>
              </div>
              <div class="col-sm-5 col-lg-9 col-xl-2">
                <h5 class="footer-classic-title">Contacts</h5>
                <div class="row row-20 row-sm-35">
                  <div class="col-6 col-sm-12 col-lg-8 col-xl-12">
                    <div class="row row-10 text-black">
                      <div class="col-lg-6 col-xl-12"><a href="mailto:#">info@demolink.org</a></div>
                      <div class="col-lg-6 col-xl-12"><a href="tel:#">+1-800-123-1234</a></div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-12 col-lg-4 col-xl-12 text-right text-sm-left">
                    <div class="group group-xs"><a class="link link-social-1 mdi mdi-twitter" href="#"></a><a class="link link-social-1 mdi mdi-facebook" href="#"></a><a class="link link-social-1 mdi mdi-instagram" href="#"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-classic-aside">
          <div class="container">
            <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>. All Rights Reserved</span></p>
          </div>
        </div>
      </footer>

    {% endblock %}

  </header>

</div>
<div class="snackbars" id="form-output-global"></div>

  <script src="{{ asset("font/js/core.min.js")}}"></script>
  <script src="{{ asset("font/js/script.js")}}"></script>
{% block ScriptBase %}
{% endblock %}
<!--LIVEDEMO_00 -->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7078796-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
$(function(){
  if($(window).width()<=500){
    $("img.phone-frame-2-outer").css({"width":"270px","height":"440px"})
    $("img.phone-frame-2-outer").wrap("<center></center>");
    $("div.col-md-7.col-lg-6.wow.fadeInRightSmall").css({"margin-top":"-55%","background-color":"#2A4696"})
  }
  $(window).resize(function () {
    window.location.reload();
  })
})
</script>

</body>
</html>