{% extends 'templateFront/index.html.twig' %}

{% block Title %}
    Login
{% endblock %}


{% block NavigationHorizontal %}
    <div class="layout-2 section-layout-3-header">
        <div class="layout-2-inner">
            <div class="layout-2-item"><a class="link link-icon link-icon-left" href="{{ path("homepage",{"_locale":app.request.getLocale()}) }}"><span class="icon mdi mdi-arrow-left"></span><span>{{ 'loginPage.returnPage'|trans }}</span></a></div>
            <div class="layout-2-item">
                <div class="layout-2-group">
                    <p class="text-gray-900 ls-001">{{ 'loginPage.question'|trans }}</p><a class="button button-sm button-primary-outline button-winona" href="{{path('fos_user_registration_register')}}">{{ 'loginPage.linkRegistre'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Body %}
    <div class="section-layout-3-main">
        <div class="section-1 text-center">
            <div class="container">
                <div class="box-shadow-1"> <a class="brand" href="index.html.twig"><img class="brand-logo-dark" src="{{ asset("font/images/logo-111x33.png") }}" alt="" width="111" height="33" srcset="images/logo-222x66.png 2x"/></a>
                    <p class="text-gray-900"><span style="max-width: 400px">{{ 'loginPage.informationsGlobal'|trans }}</span></p>
                    <div class="box-shadow-1-main">
                        <!-- RD Mailform -->
                        <form class="rd-form rd-mailform">
                            <div class="form-wrap">
                                <input class="form-input" id="login-email" type="email" name="email" data-constraints="@Email @Required">
                                <label class="form-label" for="login-email">{{ 'loginPage.textfieldEmail'|trans }}</label>
                            </div>
                            <div class="form-wrap">
                                <input class="form-input" id="login-password" type="password" name="password" data-constraints="@Required">
                                <label class="form-label" for="login-password">{{ 'loginPage.textfieldPassword'|trans }}</label>
                            </div>
                            <div class="form-wrap">
                                <button class="button button-block button-secondary button-shadow button-winona" type="submit">{{ 'loginPage.btnSignIn'|trans }}</button>
                            </div>
                        </form>
                        <div class="text-decoration-lines"><span class="text-decoration-lines-content">{{ 'loginPage.information1'|trans }}</span></div>
                        <div class="group group-xs"><a class="link link-social-1 mdi mdi-facebook" href="#" aria-label="Facebook"></a><a class="link link-social-1 mdi mdi-gmail" href="#" aria-label="mail"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
