{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typereclamations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeReclamation in typeReclamations %}
            <tr>
                <td><a href="{{ path('typereclamation_show', { 'id': typeReclamation.id }) }}">{{ typeReclamation.id }}</a></td>
                <td>{{ typeReclamation.titre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typereclamation_show', { 'id': typeReclamation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typereclamation_edit', { 'id': typeReclamation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typereclamation_new') }}">Create a new typeReclamation</a>
        </li>
    </ul>
{% endblock %}
