{% extends 'baseEv.html.twig' %}


{% block body %}
    <div class="col-xl-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title float-left">Event  <td>{{ event.nom }}</td>  </h2>

                <div class="actions panel_actions float-right">
                    <a class="box_toggle fa fa-chevron-down"></a>

                </div>
            </header>
            <div class="content-body">    <div class="row">
                    <div class="col-12">

                        <table class="table">
                            <h1>Event edit</h1>

                            <table class="table table-striped">
                                {{ form_start(edit_form) }}
                                <tr>
                                    <td>{{ form_label(edit_form.nom) }}</td>
                                    <td>{{ form_widget(edit_form.nom) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.nbrPlace) }}</td>
                                    <td>{{ form_widget(edit_form.nbrPlace) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.depart) }}</td>
                                    <td>{{ form_widget(edit_form.depart) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.arrivee) }}</td>
                                    <td>{{ form_widget(edit_form.arrivee) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.dateAllee) }}</td>
                                    <td>{{ form_widget(edit_form.dateAllee) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.dateRetour) }}</td>
                                    <td>{{ form_widget(edit_form.dateRetour) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.description) }}</td>
                                    <td>{{ form_widget(edit_form.description) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.latitude1) }}</td>
                                    <td>{{ form_widget(edit_form.latitude1) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.longitude1) }}</td>
                                    <td>{{ form_widget(edit_form.longitude1) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.latitude2) }}</td>
                                    <td>{{ form_widget(edit_form.latitude2) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.longitude2) }}</td>
                                    <td>{{ form_widget(edit_form.longitude2) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_widget(edit_form) }}</td>
                                    <td> <input type="submit" value="Edit" /> </td>
                                </tr>
                                {{ form_end(edit_form) }}
                            </table>



                            <ul>

                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Delete">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>
                        </table>

                    </div>
                </div>
            </div>
        </section></div>











{% endblock %}



