{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xl-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title float-left">Event list</h2>
                <div class="actions panel_actions float-right">
                    <a class="box_toggle fa fa-chevron-down"></a>

                </div>
            </header>
            <div class="content-body">    <div class="row">
                    <div class="col-12">

                        <table class="table">

                            <thead>
                            <tr>

                                <th>Name</th>
                                <th>Number of places</th><th>

                                </th>
                                <th>Start</th><th>

                                </th>
                                <th>End</th><th>

                                </th>
                                <th>Date of travel</th><th>

                                </th>
                                <th>Return Date</th><th>

                                </th>
                                <th>Description</th><th>

                                </th>
                                <th>

                                </th><th>

                                </th>

                                <th>

                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for event in events %}
                            <tr>
                                <td>{{ event.nom }}</td>

                                <td>{{ event.nbrPlace }}</td> <td>   </td>
                                <td>{{ event.depart }}</td> <td>   </td>
                                <td>{{ event.arrivee }}</td> <td>   </td>
                                <td>{% if event.dateAllee %}{{ event.dateAllee|date('Y-m-d H:i:s') }}{% endif %}</td> <td> </td>
                                <td>{% if event.dateRetour %}{{ event.dateRetour|date('Y-m-d H:i:s') }}{% endif %}</td> <td> </td>
                                <td>{{ event.description }}</td>


                                <td>
                                    <a  class="btn btn-accent btn-md" href="{{ path('inscription_add', { 'id2': event.idEvent }) }}">Register now</a>
                                </td>




                                {% endfor %}



                            </tr>




                            </tbody>



                    </div>
                </div>
            </div>
        </section></div>











{% endblock %}
