{% extends 'baseEv.html.twig' %}

{% block body %}
    <div class="col-xl-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title float-left">Offer  <td>{{ event.nom }}</td>  </h2>

                <div class="actions panel_actions float-right">
                    <a class="box_toggle fa fa-chevron-down"></a>

                </div>
            </header>
            <div class="content-body">    <div class="row">
                    <div class="col-12">

                        <table class="table">
                            <h1>Event</h1>

                            <table>
                                <tbody>

                                <tr>
                                    <th>Name</th>
                                    <td>{{ event.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Number of places</th>
                                    <td>{{ event.nbrPlace }}</td>
                                </tr>
                                <tr>
                                    <th>Start</th>
                                    <td>{{ event.depart }}</td>
                                </tr>
                                <tr>
                                    <th>End</th>
                                    <td>{{ event.arrivee }}</td>
                                </tr>
                                <tr>
                                    <th>Date of travel</th>
                                    <td>{% if event.dateAllee %}{{ event.dateAllee|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Return date</th>
                                    <td>{% if event.dateRetour %}{{ event.dateRetour|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ event.description }}</td>
                                </tr>
                                <tr>
                                    <th>Latitude1</th>
                                    <td>{{ event.latitude1 }}</td>
                                </tr>
                                <tr>
                                    <th>Longitude1</th>
                                    <td>{{ event.longitude1 }}</td>
                                </tr>
                                <tr>
                                    <th>Latitude2</th>
                                    <td>{{ event.latitude2 }}</td>
                                </tr>
                                <tr>
                                    <th>Longitude2</th>
                                    <td>{{ event.longitude2 }}</td>
                                </tr>
                                </tbody>
                            </table>

                            <ul>

                                <li>
                                    <a class="fa fa-pencil" href="{{ path('event_edit', { 'idEvent': event.idEvent }) }}"></a>
                                </li>
                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Delete">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>
                        </table>

                    </div>
                </div>
            </div>
        </section></div>











{% endblock %}
