{% extends 'base.html.twig' %}


{% block body %}
    <div class="col-xl-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title float-left">Offer  <td>{{ offre.nom }}</td>  </h2>

                <div class="actions panel_actions float-right">
                    <a class="box_toggle fa fa-chevron-down"></a>

                </div>
            </header>
            <div class="content-body">    <div class="row">
                    <div class="col-12">

                        <table class="table">
                            <table>
                                <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td>{{ offre.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Type</th>
                                    <td>{{ offre.type }}</td>
                                </tr>
                                <tr>
                                    <th>Start date</th>
                                    <td>{% if offre.dateD %}{{ offre.dateD|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>End date</th>
                                    <td>{% if offre.dateF %}{{ offre.dateF|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>


                                <tr>
                                    <th>Reduction offer</th>
                                    <td>{{ offre.reductionOffre }}</td>
                                </tr>
                                <tr>
                                    <th>Promo code</th>
                                    <td>{{ offre.codePromo }}</td>
                                </tr>
                                <tr>
                                    <th>Image</th>
                                    <td class="fa-image" height="100px" width="100px" style="background-image: url('{{ asset('font/uploads/' ~ offre.img) }}')">
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <ul>

                                <li>
                                    <a class="fa fa-pencil"  href="{{ path('offre_edit', { 'idOffre': offre.idOffre }) }}"></a>
                                </li>
                                <li>
                                    {{ form_start(delete_form) }}

                                    <input type="submit" value="Delete">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>
                        </table>

                    </div>
                </div>
            </div>
        </section></div>











{% endblock %}


