{% extends 'base.html.twig' %}





{% block body %}




    <h2>Search A Bicycle</h2>

    <div class="sidebar-search">

        <div class="input-group custom-search-form">

            <input type="text" id="search" class="form-control" placeholder="Search here">
        </div>
        <!-- /input-group -->
    </div>

            <ul class="nav nav-second-level" id="entitiesNav">
            </ul>

    <br><br>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('search') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value===$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key === 'velo') {
                                            if (id !== 'error') {
                                                console.log(value[1]);
                                                entitySelector.append('<li><b>'+value[0]+'</b><a href="'+id+'/show">'+'<img src="/font/uploads/'+value[3]+'" style="width: 100px; height: 100px"/>'+'</a></li>');
                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>

    <h1>Velos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Adresse</th>
                <th>Qte</th>
                <th>Photo</th>
                <th>Prix</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for velo in velos %}
            <tr>
                <td><a href="{{ path('velo_show', { 'id': velo.id }) }}">{{ velo.id }}</a></td>
                <td>{{ velo.type }}</td>
                <td>{{ velo.adresse }}</td>
                <td>{{ velo.qte }}</td>
                <td>{{ velo.photo }}</td>
                <td>{{ velo.prix }}</td>
                <td>{{ velo.latitude }}</td>
                <td>{{ velo.longitude }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('velo_show', { 'id': velo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('velo_edit', { 'id': velo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('velo_new') }}">Create a new velo</a>
        </li>
    </ul>
{% endblock %}
