{% extends 'base.html.twig' %}





{% block body %}

    <ul>
        <li>
            <a href="{{ path('velo_new') }}">Create a new velo</a>
        </li>
    </ul>
<div class="col-xl-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title float-left">List of Bicycles </h2>
            <div class="actions panel_actions float-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body">    <div class="row">
                <div class="col-12">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Adresse</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Altitude</th>
                            <th>Longitude</th>
                            <th>Picture</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
        {% for velo in velos %}
            <tr>
                <td><a href="{{ path('velo_show', { 'id': velo.id }) }}">{{ velo.id }}</a></td>
                <td>{{ velo.type }}</td>
                <td>{{ velo.adresse }}</td>
                <td>{{ velo.qte }}</td>

                <td>{{ velo.prix }}</td>
                <td>{{ velo.latitude }}</td>
                <td>{{ velo.longitude }}</td>
                <td class="fa-image" height="100px" width="100px" style="background-image: url('{{ asset('font/uploads/' ~ velo.photo) }}')">
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('velo_show', { 'id': velo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('velo_edit', { 'id': velo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section></div>

{% endblock %}
