{% extends 'base.html.twig' %}

{% block body %}
    <h2>Search A Bicycle</h2>

    <div class="sidebar-search">

        <div class="input-group custom-search-form">

            <input type="text" id="search" class="form-control" placeholder="Search here">
        </div>
        <!-- /input-group -->
    </div>

    <ul class="nav nav-second-level" id="entitiesNav">
    </ul>

    <br><br>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('search') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value===$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key === 'velo') {
                                            if (id !== 'error') {
                                                console.log(value[1]);
                                                entitySelector.append('<li><b>'+value[0]+'</b><a href="'+id+'/show">'+'<img src="/font/uploads/'+value[3]+'" style="width: 100px; height: 100px"/>'+'</a></li>');
                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
    <header class="panel_header">
        <h2 class="title float-left">Basic Elements</h2>
        <div class="actions panel_actions float-right">
            <a class="box_toggle fa fa-chevron-down"></a>
            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
            <a class="box_close fa fa-times"></a>
        </div>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="col-lg-8 col-md-9 col-10">

                <div class="form-group">
                    <table class="table table-striped">
                        {{ form_start(form) }}
                        <tr>
                            <td>{{ form_label(form.type) }}</td>
                            <td>{{ form_widget(form.type) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form.adresse) }}</td>
                            <td>{{ form_widget(form.adresse) }} <div class="btn btn-primary btn-sm afficherMap"><i class="fa fa-map-marker" ></i></div></td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form.qte) }}</td>
                            <td>{{ form_widget(form.qte) }}</td>
                            <td>
                                <span id="misscin" ><ul><li><i class="fa fa-exclamation-triangle"></i>&nbsp; : Quantity is invalide</li></ul> </span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form.prix) }}</td>
                            <td>{{ form_widget(form.prix) }}</td>
                            <td>
                                <span id="missin" ><ul><li><i class="fa fa-exclamation-triangle"></i>&nbsp; : Price is invalide</li></ul> </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="display: none"></td>
                            <td  style="display: none">{{ form_widget(form.latitude) }}</td>
                        </tr>
                        <tr>
                            <td  style="display: none"></td>
                            <td style="display: none">{{ form_widget(form.longitude) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form.photo) }}</td>
                            <td>{{ form_widget(form.photo) }}</td>
                        </tr>
                        <tr>

                            <td>{{ form_widget(form) }}</td>

                           <td> <input type="submit" value="Create" /></td>
                        </tr>
                        {{ form_end(form) }}
                    </table>

                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            $('#misscin').hide();
                            $('#velobundle_velo_qte').keyup(function () {



                                var x = $('#velobundle_velo_qte').val();
                                if (x>1 && x<100) {

                                    $('#coursbundle_cours_Ajouter').prop('disabled', false);
                                    $('#misscin').hide();
                                    $('#velobundle_velo_qte');

                                } else {

                                    $('#misscin').show();
                                    $('#velobundle_velo_qte');


                                    $('#coursbundle_cours_Ajouter').prop('disabled', true);
                                }

                            });
                        })
                    </script>
                    <script>
                        $(document).ready(function () {
                            $('#missin').hide();
                            $('#velobundle_velo_prix').keyup(function () {



                                var x = $('#velobundle_velo_prix').val();
                                if (x>1) {

                                    $('#coursbundle_cours_Ajouter').prop('disabled', false);
                                    $('#missin').hide();
                                    $('#velobundle_velo_prix');

                                } else {

                                    $('#missin').show();
                                    $('#velobundle_velo_prix');


                                    $('#coursbundle_cours_Ajouter').prop('disabled', true);
                                }

                            });
                        })
                    </script>
                </div>




            </div>
        </div>


    </div>


{% endblock %}

{% block scriptMap %}
    <script>
        $(function(){

            $(".dontWrite").keyup(function(){
                $("[name='velobundle_velo[adresse]']").val("")
            })
            $(".afficherMap").click(function(){
                $("#map").css("z-index","10000");
                $(".btn-annuler").css("z-index","10001");
                $(".btn-accepter").css("z-index","10001");
                $("body").css("overflow-y","hidden")
            })

            $(".btn-accepter").click(function(){
                var c="{{ path("adresseGPS",{'lat':'var1','lon':'var2'}) }}";
                var finalPath = c.replace("var1",$("[name='velobundle_velo[latitude]']").val() );
                var finalPath2 = finalPath.replace("var2", $("[name='velobundle_velo[longitude]']").val());
                var r="";
                $.ajax({
                    type: "post",
                    url: finalPath2,
                    contentType: "html",
                    success: function(response) {
                        $("[name='velobundle_velo[adresse]']").val(response)
                        reduireMap()
                    }
                });

            })

            $(".btn-annuler").click(function(){
                $("[name='velobundle_velo[latitude]']").val("")
                $("[name='velobundle_velo[longitude]']").val("")
                reduireMap()
            })

            function reduireMap(){
                $("#map").css("z-index","-1");
                $(".btn-annuler").css("z-index","-1");
                $(".btn-accepter").css("z-index","-1");
                $("body").css("overflow-y","scroll")
            }
            L.mapbox.accessToken = 'pk.eyJ1IjoiY3lyaWxsZTgwMCIsImEiOiJjazZzcmU2bHUwMDh0M2xxcGRtOGJndGh4In0.zqSmLTyuMbkLZQyVFgtAXA';

            var mapboxTiles = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=' + L.mapbox.accessToken, {
                attribution: '© <a href="https://www.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                tileSize: 512,
                zoomOffset: -1
            });

            var map = L.map('map')
                .addLayer(mapboxTiles)
                .setView([0,0], 17);
            var lc = L.control.locate({
                strings:{
                    popup: 'You'
                }}).addTo(map);

            // request location update and set location
            lc.start();

            var theMarker = [];
            map.on('click', function(e) {

                if (theMarker != undefined) {
                    map.removeLayer(theMarker);
                    $("[name='velobundle_velo[latitude]']").val(e.latlng.lat)
                    $("[name='velobundle_velo[longitude]']").val(e.latlng.lng)
                }
                    theMarker  = L.marker([e.latlng.lat,e.latlng.lng]).addTo(map);
                    map.setView(new L.LatLng(e.latlng.lat, e.latlng.lng), map.getZoom());

            });
        })
    </script>
{% endblock %}
